body{
  /* background-image: linear-gradient(to right, #c5ebff, #a9dbf7, #8ecbee, #71bae7, #51aadf, #51aadf, #51aadf, #51aadf, #71bae7, #8ecbee, #a9dbf7, #c5ebff); */
  background-image: linear-gradient(to left, #023e73, #034e86, #055f98, #0771ab, #0a83bd, #0a83bd, #0a83bd, #0a83bd, #0771ab, #055f98, #034e86, #023e73);
  /* background-image: linear-gradient(to left, #6accf6, #56bff0, #43b1eb, #2fa4e5, #1b96de, #1b96de, #1b96de, #1b96de, #2fa4e5, #43b1eb, #56bff0, #6accf6); */
  background-color: #023e73;
}

.main__top{
  padding-bottom: 600px;
}

.animated_title_container{
  padding-top: 25px;
  padding-left: 175px;
  width: fit-content;
  height: 2.8em;
  margin: 0 auto;
}

#animated_title{
    left: 23%;
    top: 105px;
    display: flex;
    flex-direction: row;
    font-size: 2.8rem;
    font-weight: 100;
    color: #fff;
    overflow: hidden;
    max-width: 100vw;
  }
  
  .scroller {
    margin-top: -4px;
    margin-left: 10px;
    height: 1.2em;
    line-height: 1.2em;
    position: relative;
    overflow: hidden;
    width: 10em;
    color: #fff;
  }
  .scroller > span {
    position: absolute;
    top: 0;
    animation: slide 20s infinite;  
  }
  @keyframes slide {
    0% {
      top: 0;
    }

    16.67% {
      top: 0;
    }

    33.33% {
      top: -1.2em;
    }

    50% {
      top: -1.2em;
    }

    66.67% {
      top: -2.4em;
    }

    83% {
      top: -2.4em;
    }
  }

  .presentation_sentance_container{
    position: absolute;
    display: flex;
    align-items: center;
    top: 375px;
    width: 100%;
    height: 18vh;
    /* background-color: aqua; */
    word-wrap: break-word;  /* breaks the word and wrap onto the next line */
  }

  .recent_news_container{
    padding: 12px;
    border-radius: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
    top: 470px;
    left: 25%;
    width: 50%;
    height: 14vh;
    overflow: hidden;
  }

  .recent_news_container h1{
    font-size: 1.1rem;
  }

  .recent_news_container h2{
    font-size: 1.3rem;
    font-weight: 100;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  #presentation_sentance{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* text-transform: uppercase; */
    /* font-size: 1.9rem; */
    /* font-family: 'Roboto', sans-serif; */
    font-weight: 100;
    font-size: calc(24px + (35 - 24) * ((100vw - 300px) / (1400 - 300)));
    padding: 0 5%;
    text-align: center;
    color: #fff;
    width: fit-content;
    line-height: 5vh;
    margin: 0 auto;
    border-top: solid #ffffff5a 1px;
    border-bottom: solid #ffffff5a 1px;
    /* background-color: rgba(0, 0, 0, 0); */
  }

 /*  .presentation-keyword{
    font-size: 1.8rem;
    font-weight: 400;
  } */

  @media screen and (max-width: 1200px) {
    .main__top{
      padding-bottom: 600px;
    }

    #animated_title{
      font-size: 1.5rem;
    }

    .animated_title_container{
      width: 350px;
      padding-left: 25px;
    }

    .scroller {
      margin: 0;
      position: absolute;
      top: 5.2em;
    }

    .recent_news_container{
      top: 480px;
      left: 10%;
      width: 80%;
    }

    
  }
  

  @media screen and (max-width: 800px) {
    .presentation_sentance_container{
      height: 30vh;
    }

    #presentation_sentance{
      font-size: calc(20px + (26 - 20) * ((100vw - 300px) / (1400 - 300)));
    }

    .recent_news_container{
      top: 535px;
      height: 16vh;
    }
  }

  
  @media screen and (max-width: 600px) {
    

    .recent_news_container h1{
      font-size: 1rem;
    }
  
    .recent_news_container h2{
      font-size: 1rem;
      font-weight: 100;
    }

    @media screen and (max-height: 700px) {
      .recent_news_container{
        top: 525px;
        height: 14vh;
      }
    }

    @media screen and (min-height: 700px) {
      .recent_news_container{
        top: 525px;
        height: 18vh;
      }
    }
  }



.main__downButton{
  opacity: 0;
  position: fixed;
  width: 100%;
  height: fit-content;
  text-align: center;
  bottom: 0vh;
  color: #fff;
  font-size: 2rem;
  background-color: rgba(1, 1, 1, 0.4);
}

.main__downButton h1{
  cursor: pointer;
  padding: 2vh 0;
}

.main__downButton h1:hover{
  color: var(--hover);
}