html,
body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}
body {
  font-family: Arial, sans-serif;
  background-color: #66bcdf;
}

#page_container {
  position: absolute;
  width: 100%;
  height: fit-content;
  transition: background-color 2s ease-out;
}

#sidebar {
  font-family: "Roboto", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: fit-content;
  height: 100%;
  overflow-y: auto;
}

#sidebar nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#sidebar ul li {
  transform: translateX(0);
  transition: transform 0.8s ease-out;
}

#sidebar ul li a {
  display: block;
  margin-bottom: 0px;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.124);
  width: 250px;
  font-size: 1.2rem;
}

.subtitle {
  font-size: 1rem;
}

#sidebar ul li:hover {
  transform: translateX(10px);
}

.activity-global-container {
  background-color: #69696962;
  position: relative;
  max-width: 55%;
  margin: 25px auto;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.activity-global-title {
  font-size: 1.4rem;
  color: #ffffff;
}

.timeline-item {
  padding: 20px;
  position: relative;
  background-color: #ffffff;
  border-radius: 6px;
  margin-bottom: 5vh;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

.timeline-item .article-content-wrapper {
  height: fit-content;
  opacity: 1;
  overflow: hidden;
  transition: height 800ms ease-out, opacity 0.8s ease-in-out;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content-item {
  margin-top: 15px;
  width: 100%;
  box-sizing: border-box;
}

.activity-header {
  font-family: "Roboto", sans-serif;
  width: 100%;
  display: inline-flex;
}

.activity-data {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: auto 0;
}

.activity-title {
  /* width: 50%; */
  text-align: left;
  font-size: 1.5rem;
  color: #3d3d3d;
  overflow: hidden;
  padding-right: 2%;
  margin-bottom: 5px;
  padding: 5px 0 5px 2%;
  font-family: "Roboto", sans-serif;
}

.activity-full {
  font-family: "Roboto", sans-serif;
  text-align: left;
  padding: 5px 2%;
  margin-left: 2%;
  margin-top: 15px;
  border-radius: 5px;
  color: #3d3d3d;
  background-color: rgba(210, 21, 21, 0.503);
  width: fit-content;
}

.activity-presentator {
  font-family: "Roboto", sans-serif;
  text-align: left;
  padding: 5px 0 5px 2%;
}

.activity-presentator,
.activity-presentator a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #777;
  overflow: hidden;
}

.activity-presentator a:hover {
  text-decoration: underline;
}

.activity-image {
  width: 50%;
  height: fit-content;
  display: flex;
}

.activity-image img {
  width: 40%;
  margin: auto;
  transition: all 0.6s linear;
}

/* section-image {
          margin-top: 15px;
          height: auto;
          min-width: 25%;
          max-width: 50%;
      } */

.toggle-content {
  background: none;
  border: none;
  color: #337ab7;
  cursor: pointer;
  padding: 0;
  font: inherit;
  text-decoration: none;
  text-align: left;
}

.toggle-content:hover {
  text-decoration: underline;
}

.section-description {
  margin: 15px 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.2rem;
}

.section-description-ul li {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.2rem;
}

.section-tips {
  font-weight: 100;
  color: #3d3d3d;
  /* width: 100%;
    text-align: center; */
  margin-bottom: 15px;
}

.section-conditions,
.section-place,
.section-frequency {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px 0;
  color: #3d3d3d;
  font-size: 1.4rem;
}

.section-disclaimer {
  margin: 15px 0;
}

.section-disclaimer h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px 0;
  color: #3d3d3d;
  font-size: 1.4rem;
  font-weight: normal;
}

.section-disclaimer h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #777;
  font-size: 1.2rem;
  font-weight: normal;
}

.section-price {
  padding: 15px 0;
  color: #777;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.2rem;
}

/* 
  .section-conditions {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
  }

  .section-conditions li {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 10px;
    padding-left: 25px;
  } */

.section-conditions ul,
.section-place ul,
.section-frequency ul {
  color: #777;
  font-size: 1.2rem;
  margin-top: 5px;
  padding: 4px 0;
  border-top: #c0c0c054 solid 1px;
  border-bottom: #c0c0c054 solid 1px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

.section-conditions li::before,
.section-frequency li::before {
  content: "•";
  margin-right: 8px;
}

.section-conditions li,
.section-place li,
.section-frequency li {
  text-align: left;
  margin: 6px 0;
  list-style-type: none;
  color: #777;
  font-size: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.section-conditions li a {
  color: blue;
  font-size: 1.1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 15px;
  line-height: 1.5rem;
}

/* .section-place{
    border-top: #006297 solid 1px;
    border-bottom: #006297 solid 1px;
  } */
/* 
  .section-place span{
    color: #3d3d3d;
  } */

.section-subscription {
  background-color: #35424a;
  color: #fff;
  text-decoration: none;
  padding: 5px 30px;
  border-radius: 10px;
}

/* @media screen and (max-width: 1600px) {
    .activity-global-container {
      max-width: 75%;
      margin-right: 17px;
    }
  } */

@media screen and (max-width: 1000px) {
  #sidebar {
    display: none;
  }

  .activity-global-container {
    max-width: 68%;
    margin: 25px auto;
    padding: 10px 5px;
  }

  .activity-data {
    width: 100%;
    margin-bottom: 15px;
  }

  .activity-header {
    display: flex;
    flex-direction: column;
  }

  .activity-image {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .activity-global-container {
    background-color: transparent;
    box-shadow: none;
    max-width: 98%;
    margin: 25px 1%;
  }

  .activity-image {
    width: 50%;
  }
}

.activity-image-body ul,
.activity-image-body li {
  display: block;
}

.activity-image-body {
  opacity: 1;
  width: 100%;
  aspect-ratio: 8 / 5;
  height: auto;
  display: block;
  position: relative;
  transition: all 1.2s ease-in-out;
  border-radius: 10px;
  overflow: hidden;
}

.activity-image-body * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.activity-image-body input {
  display: none;
}

#galery-apa #img-inner,
#galery-ebe #img-inner,
#galery-fb #img-inner,
#galery-sh #img-inner,
#galery-sr #img-inner,
#galery-as #img-inner,
#galery-ra #img-inner,
#galery-mb #img-inner {
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;

  transform: scale(0);
  -moz-transform: scale(0);
  -webkit-transform: scale(0);

  transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  overflow: hidden;
}

#galery-apa #img-inner img,
#galery-ebe #img-inner img,
#galery-fb #img-inner img,
#galery-sh #img-inner img,
#galery-sr #img-inner img,
#galery-as #img-inner img,
#galery-ra #img-inner img,
#galery-mb #img-inner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

/* #galery-apa #img-inner:nth-of-type(1),
  #galery-ebe #img-inner:nth-of-type(1){
      background-image:
          url("src/images/photos/apa1.jpg"),
          url("src/images/photos/apa2.jpg"),
          url("src/images/photos/apa3.jpg"),
          url("src/images/photos/apa4.jpg");
  } */

#galery-apa #img-inner:hover ~ label.sb-bignav,
#galery-ebe #img-inner:hover ~ label.sb-bignav,
#galery-fb #img-inner:hover ~ label.sb-bignav,
#galery-sh #img-inner:hover ~ label.sb-bignav,
#galery-sr #img-inner:hover ~ label.sb-bignav,
#galery-as #img-inner:hover ~ label.sb-bignav,
#galery-ra #img-inner:hover ~ label.sb-bignav,
#galery-mb #img-inner:hover ~ label.sb-bignav {
  opacity: 0.5;
}

#galery-apa label.sb-bignav:hover,
#galery-ebe label.sb-bignav:hover,
#galery-fb label.sb-bignav:hover,
#galery-sh label.sb-bignav:hover,
#galery-sr label.sb-bignav:hover,
#galery-as label.sb-bignav:hover,
#galery-ra label.sb-bignav:hover,
#galery-mb label.sb-bignav:hover {
  opacity: 1;
}

#galery-apa .sb-bignav,
#galery-ebe .sb-bignav,
#galery-fb .sb-bignav,
#galery-sh .sb-bignav,
#galery-sr .sb-bignav,
#galery-as .sb-bignav,
#galery-ra .sb-bignav,
#galery-mb .sb-bignav {
  width: 25%;
  height: 100%;
  display: none;
  position: absolute;

  opacity: 0;
  z-index: 9;
  cursor: pointer;

  transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;

  color: white;
  font-size: 5rem;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  background-color: rgba(255, 255, 255, 0.2);
  text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

#galery-apa .sb-bignav-icon,
#galery-ebe .sb-bignav-icon,
#galery-fb .sb-bignav-icon,
#galery-sh .sb-bignav-icon,
#galery-sr .sb-bignav-icon,
#galery-as .sb-bignav-icon,
#galery-ra .sb-bignav-icon,
#galery-mb .sb-bignav-icon {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

label[title="Suivant"] {
  right: 0;
}

#galery-apa input:checked + li > #img-inner,
#galery-ebe input:checked + li > #img-inner,
#galery-fb input:checked + li > #img-inner,
#galery-sh input:checked + li > #img-inner,
#galery-sr input:checked + li > #img-inner,
#galery-as input:checked + li > #img-inner,
#galery-ra input:checked + li > #img-inner,
#galery-mb input:checked + li > #img-inner {
  opacity: 1;

  transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);

  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}

#galery-mb input:checked + li > label,
#galery-fb input:checked + li > label,
#galery-ebe input:checked + li > label,
#galery-sh input:checked + li > label,
#galery-sr input:checked + li > label,
#galery-as input:checked + li > label,
#galery-ra input:checked + li > label,
#galery-apa input:checked + li > label {
  display: block;
}

.more {
  display: none;
  height: fit-content;
  margin-bottom: 10px;
  font-size: 1rem;
  color: #777;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.show-more,
.show-less {
  width: 100%;
  text-align: center;
  color: blue;
  cursor: pointer;
  font-size: 1rem;
}
